* {
  background-color: #808d7c;
}

.container {
  align-content: center;
  align-items: baseline;
  background-color: #5f6f65;
  height: 700px;
  width: 90%;
  border-style: dashed;
  border-color: #404a44;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wra.conp;
}

.container > div {
  height: 200px;
  width: 200px;
  background-color: #404a44;
  border-style: dotted;
  /* flex-basis: 300px; */
}

.container :nth-child(2n) {
  background-color: #9ca986;
  font-size: 5pc;
}

/* .container :nth-child(1) {
  flex-shrink: 2;
}

.container :nth-last-child(1) {
  flex-shrink: 2;
} */

main {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
}

main .sidebar {
  background-color: #404a44;
  flex: 1 2 300px;
  /* flex grow, flex shrink, flex basis */
}

main .content {
  background-color: #5f6f65;
  flex: 2 1 500px;
}
